# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

ZSH_THEME="{{ zsh_theme }}"
DISABLE_AUTO_UPDATE="true"
HIST_STAMPS="yyyy/mm/dd"

plugins=(git virtualenv)
source $ZSH/oh-my-zsh.sh

# User configuration

export PATH="/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/sbin"
export LANG=en_US.UTF-8
export EDITOR=vim
export WORKON_HOME={{ workon_home }}

# Aliases
alias g=git
alias ll='ls -lh'
alias la='ls -lah'
alias home='cd ~;clear'
alias up='cd ..'

# add gcloud?
# The next line updates PATH for the Google Cloud SDK.
# source '/usr/local/gcloud/google-cloud-sdk/path.zsh.inc'

# The next line enables bash completion for gcloud.
# source '/usr/local/gcloud/google-cloud-sdk/completion.zsh.inc'

# Load up virtualenv wrapper
source /usr/local/bin/virtualenvwrapper.sh
